doctype html
head
  meta(charset='utf-8')
  title Hyper - Responsive Bootstrap 4 Admin Dashboard
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(content='A fully featured admin theme which can be used to build CRM, CMS, etc.' name='description')
  meta(content='Coderthemes' name='author')
  // App favicon
  link(rel='shortcut icon' href='assets/images/favicon.ico')
  // App css
  link(href='assets/css/icons.min.css' rel='stylesheet' type='text/css')
  link(href='assets/css/app.min.css' rel='stylesheet' type='text/css')
  meta(name='google-signin-scope' content='profile email')
  meta(name='google-signin-client_id' content='990085872208-d1qptsog9q0qfhfh8gnpaoqai27ek44n.apps.googleusercontent.com')
  script(src='https://apis.google.com/js/platform.js' async='' defer='')
script.
  function onSignIn(googleUser) {
  // Useful data for your client-side scripts:
  var profile = googleUser.getBasicProfile();
  console.log("ID: " + profile.getId()); // Don't send this directly to your server!
  console.log('Full Name: ' + profile.getName());
  console.log('Given Name: ' + profile.getGivenName());
  console.log('Family Name: ' + profile.getFamilyName());
  console.log("Image URL: " + profile.getImageUrl());
  console.log("Email: " + profile.getEmail());
  // The ID token you need to pass to your backend:
  var id_token = googleUser.getAuthResponse().id_token;
  console.log("ID Token: " + id_token);
  };



.account-pages.mt-5.mb-5
  .container
    .row.justify-content-center
      .col-lg-5
        .card
          // Logo
          .card-header.pt-4.pb-4.text-center.bg-primary
            a(href='/')
              span
                img(src='assets/images/logodark.png' alt='' height='50')
          .card-body.p-4
            .text-center.w-75.m-auto
              h4.text-dark-50.text-center.mt-0.font-weight-bold Free Sign Up
              p.text-muted.mb-4 Don&apos;t have an account? Create your account, it takes less than a minute 
            if userExists
              h3(style="color:red") User already exists! Try another name.
            if errors
                each val in errors
                    h3(style="color:red")= val.msg
            .g-signin2(data-onsuccess='onSignIn' data-theme='dark')
            form(action = "/add-user" , method = "post")

              .form-group
                label(for='emailaddress') Email address
                input#emailaddress.form-control(type='text' required='' placeholder='Enter your username' name='user')
              .form-group
                label(for='password') Password
                input#password.form-control(type='password' placeholder='Enter your password' name='password')
              .form-group
                label(for='firstname') First Name
                input#firstname.form-control(type='text' placeholder='Enter your first name' name='firstname')
              .form-group
                label(for='lastname') Last Name
                input#lastname.form-control(type='text' placeholder='Enter your last name' name='lastname')
              .form-group
                .custom-control.custom-checkbox
                  input#checkbox-signup.custom-control-input(type='checkbox')
                  label.custom-control-label(for='checkbox-signup')
                    | I accept 
                    a.text-dark(href='#') Terms and Conditions
              .form-group.mb-0.text-center
                button.btn.btn-primary(type='submit')  Sign Up 
          // end card-body
        // end card
        .row.mt-3
          .col-12.text-center
            p.text-muted
              | Already have account? 
              a.text-dark.ml-1(href='/login')
                b Log In
          // end col
        // end row
      // end col
    // end row
  // end container
// end page
footer.footer.footer-alt
  | 2018 &copy; Hyper - Coderthemes.com
// App js
script(src='assets/js/app.min.js')
